WAZUH_MANAGER_PASSWORD=change_me_strong_password
WAZUH_API_USER=wazuh-wui
WAZUH_API_PASSWORD=change_me
WAZUH_INDEXER_PASSWORD=change_me
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change_me
THEHIVE_SECRET_KEY=change_me_long_random_string
CASSANDRA_CLUSTER_NAME=soc-cluster
CASSANDRA_PASSWORD=change_me
GRAFANA_PORT=3000
THEHIVE_PORT=9000
DVWA_PORT=8080
